CompileFlags:
  Add:
    - -Wno-unknown-pragmas
    - -Wno-macro-redefined
    - -Wno-unused-function
    - -Wno-implicit-function-declaration
    - -Wno-pointer-sign
    - -Wno-incompatible-pointer-types
    - -Wno-gnu-statement-expression
    - -Wno-gnu-zero-variadic-macro-arguments
    - -Wno-ignored-attributes
    - -Wno-unused-variable
    - -Wno-unused-but-set-variable
    - -Wno-unused-label
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
    - -Wno-unused-parameter
    - -Wno-missing-field-initializers
    - -Wno-format
    - -Wno-return-type
    - -Wno-switch
    - -Wno-unused-value
    - -Wno-overflow
    - -Wno-implicit-int
    - -Wno-implicit-int-conversion
    - -Wno-implicit-float-conversion
    - -Wno-sign-conversion
    - -Wno-conversion
    - -Wno-shorten-64-to-32
    - -Wno-constant-conversion
    - -Wno-float-conversion
    - -Wno-enum-conversion
    - -Wno-pointer-to-int-cast
    - -Wno-int-to-pointer-cast
    - -Wno-non-literal-null-conversion
    - -Wno-null-conversion
    - -Wno-bool-conversion
    - -Wno-bitwise-instead-of-logical
    - -Wno-dangling-else
    - -Wno-empty-body
    - -Wno-logical-op-parentheses
    - -Wno-parentheses
    - -Wno-self-assign
    - -Wno-self-assign-field
    - -Wno-string-conversion
    - -Wno-tautological-compare
    - -Wno-tautological-constant-out-of-range-compare
    - -Wno-tautological-undefined-compare
    - -Wno-tautological-pointer-compare
    - -Wno-tautological-constant-compare
    - -Wno-tautological-unsigned-zero-compare
    - -Wno-tautological-unsigned-enum-zero-compare
    - -Wno-tautological-type-limit-compare
    - -Wno-tautological-overlap-compare
    - -Wno-tautological-bitwise-compare
    - -Wno-tautological-constant-in-range-compare
    - -Wno-constant-logical-operand
    - -Wno-logical-not-parentheses
    - -Wno-absolute-value
    - -Wno-shift-negative-value
    - -Wno-shift-count-overflow
    - -Wno-shift-op-parentheses
    - -Wno-missing-braces
    - -Wno-uninitialized
    - -fno-caret-diagnostics
    - -fno-diagnostics-fixit-info
    - -fno-diagnostics-show-option
  Remove:
    - -Werror
Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_file_not_found
Completion:
  AllScopes: True